@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  main {
    flex: 1; /* This will make the main content take the remaining space */
  }
  
  footer {
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
  }
  